<div class='row mt-5'>
  <div class='col-md-6 m-auto'>
    <div class='card card-body text-center'>
      <a class='btn btn-secondary btn-block' href=''>
        Example 0
      </a>
    </div>
  </div>
</div>

<div class='row mt-4'>
  <div class='col-md-6 m-auto'>
    <div class='card card-body text-center'>
      <a class='btn btn-secondary btn-block' href=''>
        Example 1
      </a>
    </div>
  </div>
</div>
