<nav class='navbar navbar-expand-sm navbar-dark bg-primary mb-3'>
  <div class='container'>
    <img src='/img/logo.png' height='40' width='40' href='/' />

    <a class='navbar-brand' href='/'>
      Dev-path katas
    </a>

    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav ml-auto'>
        {{! user is a global variable! -  show items only if user is logged }}
        {{!-- {{#if user}} --}}

        <li class='nav-item'>
          <a href='/users/logout' class='nav-link'>
            Logout
          </a>
        </li>
        {{!-- {{else}} --}}
        <li class='nav-item'>
          <a href='/users/login' class='nav-link'>
            Login
          </a>
        </li>
        <li class='nav-item'>
          <a href='/users/register' class='nav-link'>
            Register
          </a>
        </li>
        {{!-- {{/if}} --}}
      </ul>
    </div>
  </div>
</nav>
