<div class='jumbotron mt-5'>
  <div class='row mt-5 mb-2'>
    <div class='col-md-6 m-auto'>
      <div class='card card-body text-center'>
        <a
          class='btn btn-secondary btn-block'
          href='/independent_1/asyncProc/runInTheBackground'
        >
          Run In The Background
        </a>
      </div>
    </div>
  </div>

  <div class='row mt-5 mb-2'>
    <div class='col-md-6 m-auto'>
      <div class='card card-body text-center'>
        <a
          class='btn btn-secondary btn-block'
          href='/independent_1/asyncProc/CRONworker'
        >
          CRON worker
        </a>
      </div>
    </div>
  </div>
</div>
