<div class='row mt-5'>
  <div class='col-md-6 m-auto'>
    <div class='card card-body text-center'>
      <a class='btn btn-secondary btn-block' href='register'>
        Register User (Authentication - from Junior 1)
      </a>
    </div>
  </div>
</div>

<div class='row mt-4'>
  <div class='col-md-6 m-auto'>
    <div class='card card-body text-center'>
      <a class='btn btn-secondary btn-block' href='login'>
        Login User (Authorization)
      </a>
    </div>
  </div>
</div>

<div class='row mt-4'>
  <div class='col-md-6 m-auto'>
    <div class='card card-body text-center'>
      <a class='btn btn-secondary btn-block' href='caching'>
        Caching
      </a>
    </div>
  </div>
</div>

<div class='row mt-4'>
  <div class='col-md-6 m-auto'>
    <div class='card card-body text-center'>
      <a class='btn btn-secondary btn-block' href='asyncProc'>
        Asynchronous Processing
      </a>
    </div>
  </div>
</div>

<div class='row mt-4'>
  <div class='col-md-6 m-auto'>
    <div class='card card-body text-center'>
      <a class='btn btn-secondary btn-block' href='uploadFiles'>
        Uploading Files
      </a>
    </div>
  </div>
</div>
