<div class='jumbotron mt-5'>
  <h3>
    Text to translate 'Welcome'
  </h3>
  <p>
    {{!-- {{i18n "Welcome"}} --}}
  </p>
  <p>
    Please choose your language 'Language'
  </p>
  <ul>
    <li>
      <a href='/junior_2/i18n/pl'>
        Polish
      </a>
    </li>
    <li>
      <a href='/junior_2/i18n/de'>
        German
      </a>
    </li>
    <li>
      <a href='/junior_2/i18n/en'>
        English
      </a>
    </li>
  </ul>
</div>
