<div class='row mt-5'>
  <div class='col-md-6 m-auto'>
    <div class='card card-body text-center'>
      <a class='btn btn-secondary btn-block' href='s3'>
        Amazon S3
      </a>
    </div>
  </div>
</div>

<div class='row mt-4'>
  <div class='col-md-6 m-auto'>
    <div class='card card-body text-center'>
      <a class='btn btn-secondary btn-block' href='mailer/sendEmail'>
        Send Email - SES
      </a>
    </div>
  </div>
</div>

<div class='row mt-2'>
  <div class='col-md-6 m-auto'>
    <div class='card card-body text-center'>
      <a class='btn btn-secondary btn-block' href='mailer/sendEmailNodemailer'>
        Send Email - nodemailer
      </a>
    </div>
  </div>
</div>

<div class='row mt-4'>
  <div class='col-md-6 m-auto'>
    <div class='card card-body text-center'>
      <a class='btn btn-secondary btn-block' href='json/jsonSrc'>
        JSON - source
      </a>
    </div>
  </div>
</div>

<div class='row mt-2'>
  <div class='col-md-6 m-auto'>
    <div class='card card-body text-center'>
      <a class='btn btn-secondary btn-block' href='json/jsonConverted'>
        JSON - converted
      </a>
    </div>
  </div>
</div>

<div class='row mt-4'>
  <div class='col-md-6 m-auto'>
    <div class='card card-body text-center'>
      <a class='btn btn-secondary btn-block' href='i18n'>
        I18n
      </a>
    </div>
  </div>
</div>
